@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*-----------------------------------------Rubik----------------------------------------*/
    @font-face {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('./assets/fonts/Rubik/Rubik-Light.ttf') format('ttf');
    }
    @font-face {
        font-family: 'RubikBold';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('./assets/fonts/Rubik/Rubik-Bold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'RubikMedium';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format('ttf');
    }
    /*-----------------------------------------Roboto----------------------------------------*/
    @font-face {
        font-family: 'RobotoBold';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    }
}
